<h1>Create List<h1>

<form action='/lists' method='POST'>
Title: <input type='text' name='title'><br>
<label>List</label><br>
1. <input type='text' name='list1'><br>
2. <input type='text' name='list2'><br>
3. <input type='text' name='list3'><br>
4. <input type='text' name='list4'><br>
5. <input type='text' name='list5'><br>
6. <input type='text' name='list6'><br>
7. <input type='text' name='list7'><br>
8. <input type='text' name='list8'><br>
9. <input type='text' name='list9'><br>
10. <input type='text' name='list10'><br>
<input type='submit' value='Post'>
</form>